                          <script>var block_546a17e10a5a8 = new td_block();
                           block_546a17e10a5a8.id = "546a17e10a5a8";
                           block_546a17e10a5a8.atts = '{"tag_slug":"tanks","limit":"8","sort":"popular","hide_title":"hide_title","el_position":"first"}';
                           block_546a17e10a5a8.td_cur_cat = "";
                           block_546a17e10a5a8.td_column_number = "2";
                           block_546a17e10a5a8.block_type = "slide";
                           block_546a17e10a5a8.post_count = "7";
                           block_546a17e10a5a8.found_posts = "7";
                           block_546a17e10a5a8.max_num_pages = "1";
                           td_blocks.push(block_546a17e10a5a8);
                         </script>
                         <div class="td_block_wrap td_block_slide">
                           <div id=546a17e10a5a8 class="td_block_inner">
                            <div id="546a17e10b7e2" class="iosSlider iosSlider-col-2 td_mod_wrap">
                             <div class="slider ">
                              <% @slides.each do |slide| %>
                              <div class = "item" itemscope itemtype="http://schema.org/Article">
                               <div class="thumb-wrap"><a  href="abu-dhabi-festival-makes-musical-history/index.html" rel="bookmark" title="Drag this slide with your mouse or touch">

                                <%= image_tag slide.image, class: "entry-thumb",size: "700x358" %>

                              </a></div>
                              <div class="slide-info-wrap slide-wrap-active-first">
                                <div class="slide-title">
                                 <h3 itemprop="name" class="entry-title">
                                   <%= slide.name %>
                                 </h3>
                               </div>
                               <div class="slide-line"></div>
                               <div class="slide-meta">
                                 <div class="slide-meta-author">
                                  <div class="entry-author-date author"><span>by <a itemprop="author" href="author/marius2/index.html">Armin Vans</a> - </span><time  itemprop="dateCreated" class="entry-date updated" datetime="2013-03-29T09:04:32+00:00" >Mar 29, 2013</time></div>
                                  <meta itemprop="interactionCount" content="UserComments:0"/>
                                </div>
                                <div class="slide-meta-cat">
                                  <div class="entry-category"><span  style="color:#85a0de;">■</span>
                                    <%= link_to slide.category.name %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% end %>
                        </div>
                        <div class = "prevButton"></div>
                        <div class = "nextButton"></div>
                      </div>
                      <script>
                       jQuery(document).ready(function() {
                         jQuery("#546a17e10b7e2").iosSlider({
                           snapToChildren: true,
                           desktopClickDrag: true,
                           keyboardControls: true,
                           
                           
                           infiniteSlider: true,
                           navPrevSelector: jQuery("#546a17e10b7e2 .prevButton"),
                           navNextSelector: jQuery("#546a17e10b7e2 .nextButton"),
                           onSlideComplete: slideContentComplete
                         });
                       });
                     </script>
                   </div>
                 </div>
                 <script>var block_546a17e10ff31 = new td_block();
                   block_546a17e10ff31.id = "546a17e10ff31";
                   block_546a17e10ff31.atts = '{"tag_slug":"epson","limit":"5","sort":"popular","custom_title":"MOST POPULAR","ajax_pagination":"load_more"}';
                   block_546a17e10ff31.td_cur_cat = "";
                   block_546a17e10ff31.td_column_number = "2";
                   block_546a17e10ff31.block_type = "1";
                   block_546a17e10ff31.post_count = "5";
                   block_546a17e10ff31.found_posts = "15";
                   block_546a17e10ff31.max_num_pages = "3";
                   td_blocks.push(block_546a17e10ff31);
                 </script>